body {
  background-color: #ffffff;
  font-family: 'regattiabold';
  font-color: black;
  padding-top: 70px;
}
@font-face {
    font-family: 'regattiabold';
    src: url('regattia-bold-webfont.woff2') format('woff2'),
         url('regattia-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
#navbar {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  background-color: white;
}
.nav {
  display: inline;
  float: right;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  color: #6ccc82;
  border: none;
  text-align: center;
  transition: 0.5s;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  border-radius: 2px;
}
#solutions {
  color: #ed9e3e;
}
#logo {
  float: left;
}
.nav:hover:not(#solutions){
  background-color: #6ccc82;
  color: white;
}
#solutions:hover {
  background-color: #ed9e3e;
  color: white;
}
.active-orange {
  background-color: #ed9e3e;
  color: white;
}
.active {
  background-color: #6ccc82;
  color: white;
}
#homepagetxt {
  font-size: 35px;
  width: 430px;
  height: 400px;
  background-color: #3f8a84;
  color: white;
  text-align: center;
  float: left;
  padding-top: 100px;
}
#homepageimg {
  float: right;
}
#homepagetxt, #homepageimg{
  display:inline;
}
.pagetitle {
  font-size: 35px;
}
.introtext {
  font-size: 15px;
  font-family: 'Times New Roman', serif;
}
.text, .introtext {
  font-size: 15px;
  font-family: 'Times New Roman', serif;
  letter-spacing: 2px;
  line-height: 25px;
  padding-left: 10px;
}
.sectiontitle {
  font-size: 30px;
  padding-left: 10px;
}
#caption {
  font-size: 11px;
  font-family: 'Times New Roman', serif;
}
.leftimg {
  float: left;
  padding: 0px 20px 20px 0px;
  padding-left: 10px;
}
.rightimg {
  float: right;
  padding: 0px 20px 30px 0px;
}
.center {
  padding-left: 120px;
  padding-right: 100px;
  text-align: center;
}
strong {
  font-family: 'regattiabold';
  font-size: 20px;
}
br {
  display: block;
  content: "";
  margin-top: 55px;
}
#homepage {
   width: 100%;
   height: 500px;
   margin-bottom: 20px;
   overflow: hidden;
   float: left;
   background-color: #3f8a84;
   margin-top: 100px;
}
#logo {
  font-size: 30px;
}
.slideshow {
  width: 100%;
  position: relative;
  margin: auto;
}
.slides {
  display: none;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.dyk {
  padding-left: 125px;
}
#previous, #next {
  border-radius: 50%;
  color: white;
  background-color: #bbb;
  border: none;
  height: 25px;
  width: 25px;
  text-align: center;
}
#previous:hover, #next:hover {
  background-color: #717171;
}
